* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-image: url("../img/iceland.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 1000px;
  height: 600px;
  border: 2px solid #000;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.left, .right {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.left {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

/* headers */
.left-header {
    width: 300px;

  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.follow-text {
    font-size: 20px;
    font-weight: 300;

}

.right-header {
    display: flex;

  display: flex;
  justify-content: flex-end;

  margin-top: 20px;
  margin-right: 30px;
}

.social-nav, .main-nav {
  display: flex;
  gap: 20px;
}

.main-nav a:hover {
    color: gray;
    
}
.main-nav a:active {
    transform: scale(0.8);
}

.social-icon svg {
  width: 20px;
  height: 20px;
}

.social-icon svg path {
    fill: #fff;
    stroke-width: 0.8;
}

.social-icon:hover svg path {
    fill: gray ;
    
}

.social-icon:active svg path {
    transform: scale(0.8);
}

.main-nav a {
  text-decoration: none;
  font-size: 14px;
}

/* center text ice / land */
.left-center, .right-center {
  flex: 1;
  display: flex;
  align-items: center;
}

.left-center {
  justify-content: flex-end;
}

.right-center {
  justify-content: flex-start;
}

.bold-left {
font-size: 150px;
    font-weight: 900;

    color: transparent;
    -webkit-text-fill-color: transparent;

    background-image: url("../img/iceland.jpg");
    background-size: cover;
    background-position: center;

    -webkit-background-clip: text;
    background-clip: text;
}

.bold-right  {
    display: flex;
    font-size: 150px;
    font-weight: 900;
    color: #fff;

}

/* left footer */
.left-footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 40px; 
  height: 250px;  
}

.qwerty {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.number {
    font-size: 32px;
  opacity: 0.9;
}

.name {
    font-size: 32px;
}

.qwe {
  display: flex;
  gap: 20px;
  margin-top: 35px;
  flex: 1;             
  align-items: flex-start;
}

.org-row {
  display: flex;
  gap: 5px;
  margin-top: 2px;
}

.org {
    display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.org:hover {
  background-color: #fff;
}

.org:active {
    transform: scale(0.8);
    background-color: #fff;
}

.description {
  width: 350px;
  font-size: 12px;
  line-height: 1.4;
  
}

.next {
  margin-top: auto; 
  margin-left: 30px;
  margin-bottom: 10px;

  text-decoration: none;
}

.next:hover {
    transform: scale(0.8);
    color: gray;
}


